#main-content {
    display: grid;
    grid-template-columns: 50% 50%;
}

#main-content > a {    
    position: relative;
    height: calc((2/3) * (100vh - 80px));
    width: 100%;
    
    text-decoration: none;
}

.selection {
    position: relative;
    height: 100%;
    width: 100%;
    
    background-color: #333333;
    transition: ease 0.1s;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selection:hover {
    cursor: pointer;
}

.selection .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-size: cover;
    background-position: center center;
    background-color: #333333;
    
    opacity: 0.1;
    
    transition: ease 0.1s;
}

.selection:hover .img {
    opacity: 0.5;
}

.selection h2 {
    position: relative;
    
    font-family: "Roboto Condensed", sans-serif;
    font-size: 32pt;
    font-weight: bold;
    text-align: center;
    color: white;
}

.selection h2:after {
    content: '';
    position: absolute;
    width: calc(100% + 20px);
    height: 4px;
    background-color: #ffeecc;
    top: 100%;
    left: -10px;
}

.selection p {
    width: 80%;
    margin-top: 20px;
    
    font-family: "Arial", sans-serif;
    font-size: 18pt;
    color: white;
    text-align: center;
}

nav > a > .img {
    width: 175px;
}

nav > a > .img .mask {
    width: 130px;
}

.span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 20px;
}

.span2 {
    grid-column: 1/3;
}

.span > h1, .span > h2, .span > p {
    font-family: "Noto Sans", sans-serif;
    font-size: 21px;
    
    width: 80%;
    max-width: 700px;
    
    margin: 20px auto;
    line-height: 30px;
}

.span > h1 {
    font-size: 32px;
    margin: 50px 0 0 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.span > h2 {
    font-size: 20px;
    font-weight: bold;
}

.span > a {
    min-width: 200px;
    height: 30px;
    background-color: #FCBF40;
    border: solid 1px #ffeeca;
    border-radius: 5px;
    
    padding: 5px;
    margin-top: 10px;
    
    text-decoration: none;
    
    transition: 0.15s ease;
}

.span > a:hover {
    background-color: #D9A740;
}

.span > a > p {
    width: 100%;
    height: 20px;
    margin: 5px 0;
    
    font-family: "Noto Sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
}
    
.sep {
    width: 100%;
    border-left: 100px solid #f5f5f5;
    border-right: 100px solid #f5f5f5;
}

.sep > div {
    width: calc(100% - 100px);
    margin: 30px auto;

    border-bottom: solid 2px #e6e6e6;
}

@media only screen and (max-width: 700px) {
    #main-content {
        grid-template-columns: 100%;
    }
    
    .span2 {
        grid-column: 1/2;
    }
    
    #main-content > a {
        height: calc((100vh - 80px) * 0.4);
        width: 100%;
    }
    
    .selection h2 {
        font-size: 24pt;
    }
    
    .selection p {
        font-size: 14pt;
    }
}

@media only screen and (min-width: 981px) {
    #main-content {
        grid-auto-flow: dense;
        border-bottom: 80px solid #c2c2c2;
    }
    
    .span.left:not(.span2) {
        grid-column: 1/2;
        border-left: 100px solid #f5f5f5;
    }
    
    .span.right:not(.span2) {
        grid-column: 2/3;
        border-right: 100px solid #f5f5f5;
    }
    
    .span2 {
        width: calc(100% - 200px);
        border-left: 100px solid #f5f5f5;
        border-right: 100px solid #f5f5f5;
    }
}

@media only screen and (max-width: 980px) {
    .sep {
        width: 100%;
        border-left: none;
        border-right: none;
    }

    .sep > div {
        width: calc(100% - 100px);
        margin: 30px auto;

        border-bottom: solid 2px #e6e6e6;
    }
}