textarea.add-caption {
    display: inline-block;
    width: calc(100% - 48px);
    height: 64px;
    background-color: white;
    border: solid 1px #d8d8d8;
    border-right-width: 0px;
    
    padding: 10px;
    
    resize: none;
    
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    
    vertical-align: top;
    float: left;
    
    margin-bottom: 20px;
}

button.add-caption {
    position: relative;
    display: inline-block;
    
    width: 48px;
    height: 64px;
    
    font-family: "Arial", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: white;
    
    border: solid 1px #D9A740;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    
    background-color: #D9A740;
    
    vertical-align: top;
    
    margin-bottom: 20px;
    
    transition: ease 0.2s;
}

button.add-caption.error {
    background-color: #ff1414;
    border-color: #ff1414;
}

button.add-caption:not(.error):hover {
    background-color: #ad893f;
    border-color: #ad893f;
}






.caption-list {
    position: relative;
    display: inline-block;
    width: 100%;
    height: calc(100% - 64px - 20px - 40px - 1px - 30px);
    
    overflow-y: auto;
    border-bottom: 1px solid #d8d8d8;
}

.caption {
    position: relative;
    width: calc(100% - 15px);
    height: 74px;
    padding: 10px 0px 0px 15px;
    background-color: white;
    border-top: 1px solid #d8d8d8;
}

.caption.selected {
    background-color: #ffedc8;
}

.caption.playing {
    border-left: solid 3px #3cade8;
    width: calc(100% - 15px - 3px);
}

.caption-list div.caption.border-hover {
    border-bottom: solid 2px #D9A740;
}

.caption-list div.caption.error {
    border-bottom: solid 2px #ff1414;
}

.caption-list div.caption:not(".error"):last-child {
    border-bottom: 1px solid #d8d8d8;
}

.caption .times {
    display: inline-block;
    width: calc(20% - 10px);
    height: calc(100% - 10px);
    margin-right: 10px;
    
    padding: 3px 0;
    
    vertical-align: top;
}

.caption .times input {
    border: none;
    margin-bottom: 3px;
    width: 100%;
    height: 15px;
    
    padding: 2px 0 0 2px;
    
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    
/*    outline: 1px solid #ccc;*/
    outline: none;
    background-color: transparent;
}

.caption .times input:focus {
    background-color: white;
    outline: solid 1px #ccc;
}

.caption textarea {
    display: inline-block;
    height: calc(100% - 10px);
    width: calc(65% - 10px);
    margin-right: 10px;
    resize: none;
    
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    
    vertical-align: top;
    overflow-y: hidden;
    
    outline: none;
    background-color: transparent;
    border: none;
}

.caption textarea:focus {
    background-color: white;
    outline: solid 1px #ccc;
    overflow-y: auto;
}

.caption .buttons {
    display: inline-flex;
    width: 6%;
    height: 100%;
    
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    vertical-align: top;
}

.caption .buttons.arrow {
    justify-content: center;
    width: auto;
    float: right;
}

.caption .buttons.arrow button:hover {
    background-color: #AA7F29;
}

.caption .buttons.arrow button {
    border-radius: 0px;
}

.caption .buttons.arrow button:not(:last-child) {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.caption .buttons.arrow button:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.caption .buttons button {
    display: inline-block;
    width: auto;
    height: auto;
    background-color: transparent;
    border: solid 0px transparent;
    padding: 0;
    margin: 0;
}

.caption .buttons button.delete {
    display: inline-block;
    margin-bottom: auto;
}

.caption .buttons button.insert, .caption .buttons button.arrow {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #D9A740;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    
    transition: background-color 0.2s ease;
}

.caption .buttons button.insert.error {
    background-color: #ff1414;
}

.caption button.arrow.up img {
    transform: rotate(90deg);
}

.caption button.arrow.down img {
    transform: rotate(-90deg);
}

.caption[data-caption-id-prev="-1"] .buttons.arrow .arrow.up, .caption:not([data-caption-id-prev]) .buttons.arrow .arrow.up, .caption[data-caption-id-next="-1"] .buttons.arrow .arrow.down, .caption:not([data-caption-id-next]) .buttons.arrow .arrow.down, .caption:not(.selected) .buttons.arrow button {
    display: none;
}











.yt-video .editor-captions {
    position: absolute;
    display: inline-block;
    width: 80%;
    max-height: 80%;
    
    bottom: 45px;
    left: 10%;
    
    text-align: center;
    overflow: hidden;
    
    background: transparent;
    pointer-events: none;
}

.caption-line {
    padding: 4px;
    opacity: 0.8;
    
    background-color: black;
    
    font-family: "Arial", sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: white;
    
    white-space: pre-wrap;
    pointer-events: none;
} 

.editor-captions.temporary .caption-line {
    opacity: 0.5;
}


.waveform {
    position: relative;
    width: calc(100% - 30px - 2px);
    height: 110px;
    margin-left: 30px;
    
    background-color: #ebebeb;
    border: solid 1px #c7c7c7;
    
    overflow: hidden;
}

.waveform canvas:hover {
    cursor: grab;
}

.waveform canvas.moving {
    cursor: grabbing;
}

.waveform canvas, .waveform .caption-boxes {
    height: 100px;
}

.waveform .caption-boxes {
    position: absolute;
    top: 0;
}





.waveform .caption-box {
    position: absolute;
    display: inline-block;
    height: 50px;
    top: 35px;
        
    left: 0px;
    width: 200px;
    
    border: solid 1px #d8d8d8;
    background-color: white;
    
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.waveform .caption-box .right-handle, .waveform .caption-box .left-handle {
    content: '';
    display: none;
    position: absolute;
    top: -1px;
    left: calc(100% - 10px);
    width: 10px;
    height: 52px;
    
    background-image: url("/images/page-icons/handle.png");
    background-size: cover;
}

.waveform .caption-box.selected .right-handle, .waveform .caption-box.selected .left-handle {
    display: inline-block;
}

.waveform .caption-box .left-handle {
    left: auto;
    right: calc(100% - 10px);
}

.waveform .caption-box .right-handle:hover, .waveform .caption-box .left-handle:hover {
    cursor: ew-resize;
}

.waveform .caption-box:hover {
    cursor: pointer;
}

.waveform .caption-box p.caption-text {
    width: calc(100% - 20px);
    height: calc(100% - 10px);
    margin: 5px 10px;
    
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    color: black;
    
    overflow: hidden;
    user-select: none;
}

.waveform .caption-box .blocker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.waveform .caption-box:hover .blocker {
    left: 10px;
    width: calc(100% - 20px);
}






.waveform .playhead {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100px;
    
    background-color: red;
}

.waveform .playhead:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -10px;
    width: 0; 
    height: 0;
    
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-bottom: 10px solid red;
}

.waveform .playhead:hover {
    cursor: pointer;
}

.waveform .scroll {
    width: 100%;
    height: 10px;
    background-color: #cbcbcb;
}

.waveform .scrollbar {
    width: 24px;
    height: 10px;
    background-color: #9a9a9a;
}

.waveform .scrollbar:hover {
    cursor: pointer;
    background-color: #838383;
}

.waveform .scrollbar:active {
    cursor: pointer;
    background-color: #676767;
}

#video > .options {
    width: calc(100% - 30px);
    height: 30px;
    margin-left: 30px;
    margin-top: 20px;
    background-color: white;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#video .options .checkbox, .checkbox.standard-ui {
    position: relative;
    display: inline-block;
    width: 17px;
    height: 17px;
    
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#video > .options .checkbox input[type=checkbox], .checkbox.standard-ui input[type=checkbox] {
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}

#video > .options .checkbox input[type=checkbox]:hover ~ .checkmark, .checkbox.standard-ui input[type=checkbox]:hover ~ .checkmark {
    background-color: rgba(229, 229, 229, 0.75);
}

#video > .options .checkbox .checkmark, .checkbox.standard-ui .checkmark { 
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: white;
    border: solid black 1px;
}

#video > .options .checkbox .checkmark img, .checkbox.standard-ui .checkmark img { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

#video > .options .checkbox input[type=checkbox]:checked ~ .checkmark img, .checkbox.standard-ui input[type=checkbox]:checked ~ .checkmark img {
    opacity: 1;
}

#video > .options > p {
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    color: black;
    line-height: 20px;
    
    margin-left: 10px;
}

#video > .options > img {
    margin-left: auto;
}

#video > .options input[type=range] {
    width: 80px;
    height: 2px;
    margin-left: 5px;
    background-color: #e5e5e5;
    
    -webkit-appearance: none;
    appearance: none;
    
    outline: none;
}

#video > .options input[type=range]::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    margin-top: -8px;
    border-radius: 50%;
    border: solid #b4b4b4 2px;
    background: #e0e0e0;
}

#video > .options input[type=range]::-moz-range-thumb {
    position: relative;
    width: 20px;
    height: 20px;
    margin-top: -8px;
    border-radius: 50%;
    border: solid #b4b4b4 2px;
    background: #e0e0e0;
}

#video > .options input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    height: 2px;
    background-color: #d8d8d8;
}

#video > .options input[type=range]::-moz-range-track {
    height: 2px;
    background-color: #d8d8d8;
}




#shortcuts {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(3, 18, 30, 0.90);
    
    padding: 20px;
    
    border-radius: 10px;
    
    z-index: 4;
}

#shortcuts > p, #shortcuts > a {
    display: inline-block;
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

#shortcuts > a {
    color: #d5de01;
    text-decoration: none;
    float: right;
}

#shortcuts > a:hover {
    text-decoration: underline;
    cursor: pointer;
}

#shortcuts > div.sep {
    width: 100%;
    border-bottom: 1px solid #b5b5b5;
    margin: 20px 0;
}

#shortcuts ul {
    display: inline-block;
    vertical-align: top;
}

#shortcuts li {
    height: 16px;
}

#shortcuts li > p {
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    color: white;
}

#shortcuts li > p span.key {
    font-family: monospace;
    font-size: 15px;
    color: #d5de01;
}

#shortcuts ul:first-of-type li > p {
    text-align: right;
}





#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    
    display: none;
    
    background-color: rgba(248, 248, 248, 0.6);
    z-index: 12;
}

#overlay.show {
    display: block;
}

#overlay .popup {
    position: absolute;
    display: none;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 40%;
    
    padding: 20px 20px 80px 20px;
    
    background-color: #fafafa;
    border: solid 1px #d8d8d8;
    box-shadow: 0 0px 8px 2px rgba(0,0,0,0.05)
    -webkit-box-shadow: 0 0px 8px 2px rgba(0,0,0,0.05)
    -moz-box-shadow: 0 0px 8px 2px rgba(0,0,0,0.05)
}

#overlay .popup.show {
    display: inline-block;
}

#overlay .popup > h2 {
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: black;
}

#overlay .popup > p {
    font-family: "Noto Sans", sans-serif;
    font-size: 13px;
    color: black;
    
    margin: 20px 10px;
    line-height: 20px;
}

#overlay .popup p > a {
    color: #3cade8;
    text-decoration: none;
}

#overlay .popup p > a:hover {
    text-decoration: underline;
    cursor: pointer;
}

#overlay .popup p.warning {
    color: #c44040;
}

#overlay .popup .buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    padding: 20px;
    
    width: calc(100% - 40px);
    height: 20px;
    background-color: #e8e8e8;
}

#overlay .popup .buttons button:not(:last-child) {
    margin-right: 10px;
}

#overlay .popup .buttons button:hover {
    cursor: pointer;
}

#overlay .popup .buttons button.submit {
    background-color: #D9A740;
    border-color: #D9A740;
}

#overlay .popup .buttons button.submit:hover {
    background-color: #b99346;
    border-color: #b99346;
}

#overlay .popup .buttons button:not(.submit) {
    color: black;
}

#overlay .popup.google-signin .g-signin2 > div {
    margin: auto;
}




@media only screen and (min-width: 786px) {
    #options {
        width: 49%;
    }

    #video {
        width: 50%;
    }
}

@media only screen and (max-width: 785px) {
    .waveform {
        width: calc(100% - 2px);
        margin-left: 0;
    }
}