.waveform {
    position: relative;
    width: calc(100% - 30px - 2px);
    height: 110px;
    margin-left: 30px;
    
    background-color: #ebebeb;
    border: solid 1px #c7c7c7;
    
    overflow: hidden;
}

.waveform canvas:hover {
    cursor: grab;
}

.waveform canvas.moving {
    cursor: grabbing;
}

.waveform canvas {
    height: 100px;
}

.waveform .playhead {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100px;
    
    background-color: red;
}

.waveform .playhead:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -10px;
    width: 0; 
    height: 0;
    
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-bottom: 10px solid red;
}

.waveform .playhead:hover {
    cursor: pointer;
}

.waveform .scroll {
    width: 100%;
    height: 10px;
    background-color: #cbcbcb;
}

.waveform .scrollbar {
    width: 24px;
    height: 10px;
    background-color: #9a9a9a;
}

.waveform .scrollbar:hover {
    cursor: pointer;
    background-color: #838383;
}

.waveform .scrollbar:active {
    cursor: pointer;
    background-color: #676767;
}



@media only screen and (min-width: 786px) {
    #options {
        width: 49%;
    }

    #video {
        width: 50%;
    }
}