#main-content {
    background-color: white;
}

#main-content > .bg {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: calc(100vh - 80px);
    
    background-image: url("/images/hd/nordwood-themes-8LfE0Lywyak-unsplash.jpg");
    background-position: bottom center;
    background-size: cover;
    clip-path: polygon(100% 0, 100% 40%, calc(50% + 250px) calc(48% - 20px), calc(50% - 250px) calc(48% - 20px), 0 40%, 0% 0%);
}

#main-content > form {
    margin-top: 200px;
    left: 50%;
    width: 100%;
    min-height: auto;
    transform: translateX(-50%);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

#main-content h1 {
    width: 100%;
    padding: 20px 0;
    
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    
    background-color: white;
}

#main-content p {
    font-family: "Noto Sans", sans-serif;
    font-size: 24px;
    text-align: center;
    
    max-width: 840px;
    padding: 0 50px;
}

#main-content .buttons {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    max-width: 460px;
    justify-content: space-around;
    align-items: center;
    
    margin-top: 20px;
}

#main-content form a, #main-content form button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 20px;
    
    margin: 10px;
    padding: 5px;
    
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    
    background-color: #d9a740;
    border: none;
    border-radius: 2px;
    
    color: white;
    text-decoration: none;
}

#main-content form button {
    height: 30px;
}

#main-content form a:hover, #main-content form button:hover {
    background-color: #ba9240;
}