ErrorDocument 403 /pages/error/403.php
ErrorDocument 404 /pages/error/404.php

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

RewriteRule (^|/)backend(/|$) - [F]